TMD_IMAGE=ghcr.io/dipinkumarak-netizen/telegram-downloder:latest
TMD_HTTP_PORT=8787
TMD_BIND_ADDRESS=0.0.0.0
TMD_DATA_HOST_DIR=/var/lib/telegram-media-downloader
TMD_DOWNLOAD_HOST_DIR=/srv/telegram-media-downloader/downloads
TMD_UID=1000
TMD_GID=1000
TZ=Etc/UTC
TMD_COOKIE_SECURE=false
